/* .my-canvas{
  border: 50px, dotted, grey;
  background: red;
  width: 1000;
  height: 800;
  
  
}
*/
body{

	font-family: 'Modak', cursive;
	color: rgb(255, 0, 119)
}

#game-board{
	
	
	display: flex;
	justify-content: center
} 

canvas {
  border: 3px dotted grey;
  
}
body {
  background-image: url("../imgs/wallpaper.jpg");

}
.btn{
	display: flex;
	justify-content:  center;

}
.start{
	margin-left: 10px;
	margin-top: 10px;
}
.restart{
	align-items: center;
	margin-left: 20px; 
	margin-top: 10px;
}
button{

  box-shadow: 3px 4px 0px 0px #ab8616;
	background:linear-gradient(to bottom, #4f410b 5%, #e3aa39 100%);
	background-color:#4f410b;
	border-radius:5px;
	border:1px solid #c29334;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cccc54;
}
button:active{

  background:linear-gradient(to bottom, #e3aa39 5%, #4f410b 100%);
	background-color:#e3aa39;
}
button:hover{
  position:relative;
	top:1px;
}

.score-box-left{
	background-color: rgb(42, 147, 165);
	border-radius: 20%;
	width: 200px;
	height: 150px;
	text-align: center;
	margin-right: 10px;
}
.score-box-right{
	background-color: rgb(42, 147, 165);
	border-radius: 20%;
	width: 200px;
	height: 150px;
	text-align: center;
	margin-left: 10px;
}
.score-box-left p{
	text-align: center;
	font-size: 2em
	
}
.score-box-left h3{
	text-align: center;
	padding-top: 20px;
	
}

  
.score-box-right p{
	text-align: center;
	font-size: 2em
	
}
.score-box-right h3{
	text-align: center;
	padding-top: 20px;
	
}

  

